@import "tailwindcss";
@theme {
  --color-text-primary: var(--text);
  --color-text-secondary: var(--text2);
  --color-primary: var(--background);
  --color-secondary: var(--background2);
  --color-input: var(--input);
  --color-btnbg: var(--buttonbg);
  --color-btntxt: var(--buttontx);
  --color-border: var(--border);
}

/* light mode by default */
:root {
  --text: #364153;
  --text2: #90aecb;
  --background: #f8fafc;
  --background2: #101a23;
  --input: #e7edf4;
  --buttonbg:#364153;
  --buttontx:#f8fafc;
  --border:#364153;
}

/* dark mode overrides */
.dark {
  --text: #f8fafc;
  --text2: #f8fafc;
  --background: #101a23;
  --background2: #f8fafc;
  --input: #223649;
  --buttonbg:#f8fafc;
  --buttontx:#364153;
  --border:#364153;
}


html {

  /* Creating animations for dark mode */
  transition: background-color 0.5s ease, border 0.3s ease, button-color 0.3s ease, color 0.3s ease;
}